<!DOCTYPE html>
<html lang="en">

<head>

    <title>Profile page</title>
    <style>
        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <h1>this is profile page</h1>
    <h1>Welcome <%= user.name %>
    </h1>
</body>

</html>